.container{
    width: 1200px;
    margin: 0 auto
}

figure {
    background-image: url(../img/pattern.png);
    background-color: aqua;
    background-position: center;
    height: 170px;
    margin:0 auto;
}
