.container{
    width: 1200px;
    margin: 0 auto
}

/* parte grafica header */
figure {
    background-image: url(../img/pattern.png);
    background-color: rgb(0, 170, 255);
    background-position: center;
    height: 120px;
    margin:0;
}
 #logo {
    background-image: url(../img/logo.svg);
    height: 60px;
    background-repeat: no-repeat;
    background-position: center left;
  }


  /* parte grafica table */
table {
    text-align: left;
}

th {
    color: white;
    background-color: rgb(91, 123, 154);
}
tr:nth-child(even) {
    background-color: #9ecaee;
}


  /* colori testo e evidenziatori */
  .blue {
    color: blue;
  }
  .yellow {
    background-color: yellow;
  }


  /* elementi footer */
.top-left {
    position: absolute;
    color: white;
    top: 8px;
    left: 16px;
  }
  .container2 {
    position: relative;
    text-align: left;
  }
  h4 {
    color: gray;
  }

 